<style>
.bod{background: #505050; bottom: 100%}
.loupe {float: right; margin: auto; overflow: auto; position: absolute; right: 14%; top: 6%}
.reload{float: right; margin: auto; overflow: auto; position: absolute; right: 13%; top: 5%;}
.close{float: right; margin: auto; overflow: auto; position: absolute; right: 13%; top: 16%;}
.top {position: absolute; box-sizing: content-box; background: #909090 ;box-shadow: 10px 10px 15px #000000;
	 padding: 1% 2; min-width: 70%;margin-left: 20px; margin-right: 20%; margin-top: 1.5%; border-radius: 10px 10px 10px 10px;
	 padding-left: 50%; padding-left: 1%; left: 15.5%; }

.tip{float: right; margin: auto; overflow: auto; position: absolute; top: 22.5%;
	background: #909090; box-shadow: 10px 10px 15px #000000; border-radius: 10px 10px 10px 10px;
	padding-left: 50%; padding-left: 1%; left: 18.2%; height: 49%; width: 7%}
.lbar{box-sizing: content-box; background: #909090}
.Advance{float: right; margin: auto; overflow: auto; position: absolute; left: 19.8%; top: 25%}
.Take{float: right; margin: auto; overflow: auto; position: absolute; left: 19%; top: 38%;}
.Look{float: right; margin: auto; overflow: auto; position: absolute; left: 19.8%; top: 38%;
		border: width 5% border-style color #ff0202; }
.Use{float: right; margin: auto; overflow: auto; position: absolute; left: 19.8%; top: 55%;}
.Speak{float: right; margin: auto; overflow: auto; position: absolute; left: 19%; top: 65%;}

.tik{float: right; margin: auto; overflow: auto; position: absolute; top: 22.5%;
	background: #909090; box-shadow: 10px 10px 15px #000000; border-radius: 10px 10px 10px 10px;
	padding-left: 50%; padding-left: 1%; right: 14%; height: 47%; width: 6%}}
.lbar{box-sizing: content-box; background: #909090}
.book{float: right; margin: auto; overflow: auto; position: absolute; right: -1%; top: 24.5%;}
.towel{float: right; margin: auto; overflow: auto; position: absolute; right: 1%; top: 36.5%;}
.brick{float: right; margin: auto; overflow: auto; position: absolute; right: 17.5%; top: 42.5%;}
.brick1{float: right; margin: auto; overflow: auto; position: absolute; right: 19.7%; top: 42.5%;}
.brick2{float: right; margin: auto; overflow: auto; position: absolute; right: 16.35%; top: 42.5%;}
.brick3{float: right; margin: auto; overflow: auto; position: absolute; right: 14.7%; top: 42.5%;}
.brick4{float: right; margin: auto; overflow: auto; position: absolute; right: 19.7%; top: 45.9%;}
.brick5{float: right; margin: auto; overflow: auto; position: absolute; right: 16.35%; top: 45.9%;}
.brick6{float: right; margin: auto; overflow: auto; position: absolute; right: 14.7%; top: 45.9%;}
.brick7{float: right; margin: auto; overflow: auto; position: absolute; right: 18%; top: 45.9%;}
.brick8{float: right; margin: auto; overflow: auto; position: absolute; right: 18%; top: 50%;}
.brick9{float: right; margin: auto; overflow: auto; position: absolute; right: 18%; top: 50%;}
.box{padding: 2% 5; width: 150px; height: 200px; padding-top: 15%; padding-bottom: 15%;
	/*box-shadow: 10px 10px 15px #000000;*/ border-radius: 10px 10px 10px 10px;
	right: 50%;}
/*.grey{top: 90%; background: #909090}*/
.box1{ width: 150px; height: 600px;}
.bix{background: #88ff89; float: right; margin: auto; overflow: auto; position: absolute; top: 80%;
	box-shadow: 10px 10px 15px #000000; border-radius: 10px 10px 10px 10px;
	padding-left: 50%; padding-left: 1%; left: 13.5%; height: 20%; width: 25.5%}
.cluster{top: 24%; left: 28%; box-sizing: content-box; float: right; margin: auto; overflow: auto; position: absolute;
	background: #909090; box-shadow: 10px 10px 15px #000000; border-radius: 10px 10px 10px 10px;
	padding-left: ; padding-left: ;}


</style>